.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 20px;
	padding: 20px;
	border-bottom: red 10px solid;
}

.row-1 img {
	width: 100%;
	height: auto;
}
.row-2 {
	flex-grow: 1;
	margin: 40px;
}

.site-title {
	text-align: center;
	font-size: 40px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	color: red;
	display: block;
	padding: 8px;
	text-decoration: none;
	background-color: yellow;
}

.table {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

html {
	background-image: url('images/galaxy-stars-illustration.jpg');
	background-attachment: fixed;
}

body {
	padding: 20px;
	background: rgba(0, 0, 0, 0.6);
}

p {
	color: yellow;
	font-size: 15px;
}
h2 {
	color: #5ec3ed;
}

@media only screen and (max-width: 960px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
		padding: 10px;
		border-bottom: red 5px solid;
	}
}
