.container {
	display: flex; /* or inline-flex */
	margin: 10px;
	padding: 10px;
	border-bottom: red 10px solid;
}

.site-title {
	text-align: center;
	font-size: 40px;
}

.description {
	margin: 20px;
}

html {
	padding: 20px;
	background-image: url('images/galaxy-stars-illustration.jpg');
	background-attachment: fixed;
}

p {
	color: yellow;
	font-size: 20px;
}
h2 {
	color: #5ec3ed;
}
